// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dnone{
  display: none;
}
.cross{
  text-decoration: line-through;
}
.width100p{
  width: 100%;
  margin:auto;
}
.hover:hover{
  background-color: #d4d4d4;
}
